// ================
// Variables
// ================

$bg-color: #fff;

$text-color: rgba(#fff, .8);
$secondary-text-color: rgba(#fff, .6);

$primary-color: #263238;
$secondary-color: #009688; // Teal
$complementary-color: #00BCD4; // Cyan

$header_bg_color: #263238;