// ================
// Layout
// ================

* {
  box-sizing: border-box;
}

html {
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  background: $header_bg_color;
  color: $text_color;

  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}

.header {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  //background: $header_bg_color;
  text-align: center;
  @media ( min-width: 768px ) {
    height: auto;
  }
}

.nav {

}

.main {
  padding-bottom: 2rem;
}

.footer {

}

// ================
// Elements
// ================

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  color: $secondary_text_color;
  text-decoration: none;
  transition: all .4s ease-out;

  &:hover {
    text-decoration: none;
    color: #fff;
  }
  &:focus {
    @extend a:hover;
  }

  img {
    display: block;
  }
}

figure {
  margin: 0;

  img {
    display: block;
  }
}

figcaption {
  @extend p;
  color: $secondary_text_color;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  //padding: 0 1rem;
}

.header--title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.75rem;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 1;
}

.header--sub_title {
  margin-top: 1rem;
  margin-bottom: 0;
  text-transform: uppercase;
  line-height: 1;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navigation--link {
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 0 1em;
  font-weight: 300;
}

.section {
  padding: 4rem 0;
  text-align: center;
}

.section--header--title {
  margin-top: 0;
  margin-bottom: 4rem;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 1;
}