// Network
//
.navigation__network {
  margin-top: 3rem;

  .container {
    display: flex;
    justify-content: space-around;
  }

  .navigation--link {
    justify-content: center;
    padding: 0 0.5rem;
  }
}