* {
  box-sizing: border-box;
}

html {
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  background: #012;
  color: rgba(255, 255, 255, 0.8);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}

.header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem 0;
  text-align: center;
}
@media (min-width: 768px) {
  .header {
    height: auto;
  }
}

.main {
  padding-bottom: 2rem;
}

p, figcaption {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  transition: all .4s ease-out;
}
a:hover, a:focus {
  text-decoration: none;
  color: #fff;
}
a img {
  display: block;
}

figure {
  margin: 0;
}
figure img {
  display: block;
}

figcaption {
  color: rgba(255, 255, 255, 0.5);
}

img {
  max-width: 100%;
  height: auto;
}

.header--title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.75rem;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 1;
}

.header--sub_title {
  margin-top: 1rem;
  margin-bottom: 0;
  text-transform: uppercase;
  line-height: 1;
}

.navigation {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.navigation--link {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  padding: 0 1em;
  font-weight: 300;
}

.section {
  padding: 4rem 0;
  text-align: center;
}

.section--header--title {
  margin-top: 0;
  margin-bottom: 4rem;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 1;
}

.navigation__network {
  margin-top: 3rem;
}
.navigation__network .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 100%;
  max-width: 320px;
}
.navigation__network .navigation--link {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.skill_bar {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: .5em 0;
  color: rgba(255, 255, 255, 0.8);
}
.skill_bar + .skill_bar {
  margin-top: 2rem;
}
.skill_bar:before, .skill_bar:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  height: 100%;
  height: 1px;
}
.skill_bar:before {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
}
.skill_bar__html:after {
  background-color: #e34f26;
  width: 90%;
}
.skill_bar__css:after {
  background-color: dodgerblue;
  width: 90%;
}
.skill_bar__sass:after {
  background-color: #c6538c;
  width: 80%;
}
.skill_bar__javascript:after {
  background-color: goldenrod;
  width: 60%;
}
.skill_bar__angular:after {
  background-color: #b52e31;
  width: 50%;
}
.skill_bar__jquery:after {
  background-color: #0769ad;
  width: 70%;
}
.skill_bar__polymer:after {
  background-color: crimson;
  width: 50%;
}
.skill_bar__grunt:after {
  background-color: #FBA919;
  width: 40%;
}
.skill_bar__bower:after {
  background-color: #EF5734;
  width: 40%;
}

.skill_bar--text {
  position: relative;
  z-index: 2;
  padding: 0 1rem;
  font-size: 1.5rem;
  line-height: 1;
}

.skill_bar--percentage {
  position: relative;
  z-index: 2;
  font-size: 1.5rem;
  line-height: 1;
  padding: 0 1rem;
  color: rgba(255, 255, 255, 0.5);
}

.section__portfolio .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
@media (min-width: 768px) {
  .section__portfolio .container {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.portfolio--item {
  position: relative;
  max-width: 480px;
  margin-bottom: 2rem;
}

.portfolio--link {
  position: relative;
  display: block;
}
.portfolio--link:before, .portfolio--link:after {
  position: absolute;
  transition: all 600ms;
}
.portfolio--link:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  background: linear-gradient(-155deg, rgba(17, 34, 51, 0.3) 0%, #112233 100%);
}
.portfolio--link:after {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  margin-top: -32px;
  content: "\f00e";
  font-family: FontAwesome;
  font-size: 64px;
  text-align: center;
  line-height: 1;
}
.portfolio--link:hover:before, .portfolio--link:hover:after, .portfolio--link:hover ~ .portfolio--caption {
  opacity: 0;
}

.portfolio--image {
  margin: 0 auto;
}

.portfolio--caption {
  z-index: 9;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 1rem;
  font-size: 18px;
  text-transform: uppercase;
  transition: all 600ms;
}
